<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />		    	
  </head>
  <body>
	  <p>Natxo Miranda</p>
	  <img src="nm.jpg" width=120 height=130/> 
  </body>
</html>
